div#bandeau {
    color:#FF3300 ;
    text-align:center;
	width:600px;
	height:50px;
	background-color:rgb(143, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
	}
    div#menu {
        float:left;
        width:100px;
        height:400px;
        background-color:#FF6699;
        }
        div#contenu {
            text-align:center;
            width:600px;
            height:400px;
            background-color:rgb(63, 139, 189);
        }


        div#contenu1 {
            text-align:center;
            width:600px;
            height:80px;
            background-color:rgb(63, 139, 189);
        }

        div#menuhaut {
            text-align: center;
            width:100px;
            height:200px;
            background-color:#66CC33;
            }
        div#menubas {
            text-align: center;
            width:100px;
            height:200px;
            background-color:#CC99CC;
            }
            div#blocnews {
                float:right;
                width:300px;
                height:200px;
                background-color:#216fff;
                }

                div#blocnews2 {
                    float:right;
                    width:300px;
                    height:150px;
                    background-color:#FF3300;
                    }

    div#piedpage {
        text-align:center;
	    width:600px;
	    height:100px;
	    background-color:#99ac6b;
	    }

        .t{
    font-size: 20px;
    color: rgb(17, 0, 255);
        margin-top: 0px;
        }
        .t2{
            font-size: 30px;
            color: rgb(255, 0, 0);
                padding-top: 5px;
                margin-top: 0px; 
            }