div#bandeau {
    color:#FF3300 ;
    text-align:center;
	width:700px;
	height:100px;
	background-color:#A6292A;
    margin-top: 10px;
    margin-bottom: 10px;
	}

   
        div#contenu {
            border: 0px;
            margin-bottom: 0%;
            margin-top: 0%;
            padding-bottom: 0%;
            padding-top: 0%;
            text-align:center;
            width:700px;
            height: 350px;
            background-color:#6495ED;
        }


        div#contenu1 {
            border: 0px;
            margin-bottom: 0%;
            margin-top: 0%;
            padding-bottom: 0%;
            padding-top: 0%;
            width:700px;
            height:100px;
            background-color:#6495ED;
        }

            div#blocnews {
                border: 0px;
                margin-bottom: 0%;
                margin-top: 0%;
                padding-bottom: 0%;
                padding-top: 0%;
                float:right;
                width:350px;
                height:200px;
                background-color:#2677A5;
                }

                div#blocnews2 {
                    border: 0px;
                    margin-bottom: 0%;
                    margin-top: 0%;
                    padding-bottom: 0%;
                    padding-top: 0%;
                    float:right;
                    width:350px;
                    height:150px;
                    background-color:#47E187;
                    }

    div#piedpage {
        text-align:center;
	    width:700px;
	    height:100px;
	    background-color:#BDB76B;
	    }

        .t{
        margin-top: 0px;
        margin-bottom: 0px;
        }
